//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9 (64-bit)
//Part Number: GW5AT-LV138PG484AC1/I0
//Device: GW5AT-138
//Device Version: B
//Created Time: Thu 11 06 15:36:00 2025

IO_LOC "hwRstn" B21;
IO_PORT "hwRstn" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "HCLK" Y18;
IO_PORT "HCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "O_ddr_ba[2]" W1;
IO_PORT "O_ddr_ba[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ba[1]" Y1;
IO_PORT "O_ddr_ba[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ba[0]" U5;
IO_PORT "O_ddr_ba[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[13]" T6;
IO_PORT "O_ddr_addr[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[12]" W2;
IO_PORT "O_ddr_addr[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[11]" R4;
IO_PORT "O_ddr_addr[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[10]" AA6;
IO_PORT "O_ddr_addr[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[9]" U6;
IO_PORT "O_ddr_addr[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[8]" U3;
IO_PORT "O_ddr_addr[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[7]" R6;
IO_PORT "O_ddr_addr[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[6]" T1;
IO_PORT "O_ddr_addr[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[5]" T5;
IO_PORT "O_ddr_addr[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[4]" U1;
IO_PORT "O_ddr_addr[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[3]" T4;
IO_PORT "O_ddr_addr[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[2]" V3;
IO_PORT "O_ddr_addr[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[1]" U2;
IO_PORT "O_ddr_addr[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_addr[0]" V2;
IO_PORT "O_ddr_addr[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_odt" V5;
IO_PORT "O_ddr_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cke" Y2;
IO_PORT "O_ddr_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_we_n" W5;
IO_PORT "O_ddr_we_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cas_n" W6;
IO_PORT "O_ddr_cas_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_ras_n" Y6;
IO_PORT "O_ddr_ras_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_cs_n" T3;
IO_PORT "O_ddr_cs_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_reset_n" U7;
IO_PORT "O_ddr_reset_n" IO_TYPE=LVCMOS15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_clk" R3,R2;
IO_PORT "O_ddr_clk" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm[1]" AB3;
IO_PORT "O_ddr_dqm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "O_ddr_dqm[0]" W9;
IO_PORT "O_ddr_dqm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[15]" AA1;
IO_PORT "IO_ddr_dq[15]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[14]" AB1;
IO_PORT "IO_ddr_dq[14]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[13]" Y4;
IO_PORT "IO_ddr_dq[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[12]" AA4;
IO_PORT "IO_ddr_dq[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[11]" V4;
IO_PORT "IO_ddr_dq[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[10]" AB2;
IO_PORT "IO_ddr_dq[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[9]" AA5;
IO_PORT "IO_ddr_dq[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[8]" AB5;
IO_PORT "IO_ddr_dq[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[7]" V7;
IO_PORT "IO_ddr_dq[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[6]" Y8;
IO_PORT "IO_ddr_dq[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[5]" Y9;
IO_PORT "IO_ddr_dq[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[4]" W7;
IO_PORT "IO_ddr_dq[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[3]" AB6;
IO_PORT "IO_ddr_dq[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[2]" Y7;
IO_PORT "IO_ddr_dq[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[1]" AB8;
IO_PORT "IO_ddr_dq[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dq[0]" AB7;
IO_PORT "IO_ddr_dq[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs[1]" Y3,AA3;
IO_PORT "IO_ddr_dqs[1]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "IO_ddr_dqs[0]" V9,V8;
IO_PORT "IO_ddr_dqs[0]" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8 BANK_VCCIO=1.5;
IO_LOC "SDA" T20;
IO_PORT "SDA" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SCL" T21;
IO_PORT "SCL" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "HALTED" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "LOCKUP" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SWCLK" H14;
IO_PORT "SWCLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SWDIO" H15;
IO_PORT "SWDIO" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "seq_out[3]" E1;
IO_PORT "seq_out[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "seq_out[2]" D1;
IO_PORT "seq_out[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "seq_out[1]" G2;
IO_PORT "seq_out[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "seq_out[0]" F1;
IO_PORT "seq_out[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_cs_n[0]" M6;
IO_PORT "spi_cs_n[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_mosi" M5;
IO_PORT "spi_mosi" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_sclk" N5;
IO_PORT "spi_sclk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "can_tx" M20;
IO_PORT "can_tx" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2c_scl" M13;
IO_PORT "i2c_scl" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_out[3]" H2;
IO_PORT "led_out[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_out[2]" G1;
IO_PORT "led_out[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_out[1]" J1;
IO_PORT "led_out[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led_out[0]" J2;
IO_PORT "led_out[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "fpga_uart_tx" M15;
IO_PORT "fpga_uart_tx" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_pkt_end" J14;
IO_PORT "usb_pkt_end" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_sloe" J15;
IO_PORT "usb_sloe" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_slcs" J16;
IO_PORT "usb_slcs" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_slwr" L20;
IO_PORT "usb_slwr" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_slrd" K19;
IO_PORT "usb_slrd" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_fifoaddr[1]" H13;
IO_PORT "usb_fifoaddr[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_fifoaddr[0]" K13;
IO_PORT "usb_fifoaddr[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txen" AA19;
IO_PORT "rgmii_txen" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[3]" Y22;
IO_PORT "rgmii_txd[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[2]" W21;
IO_PORT "rgmii_txd[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[1]" W22;
IO_PORT "rgmii_txd[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_txd[0]" U21;
IO_PORT "rgmii_txd[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "rgmii_tx_clk" U22;
IO_PORT "rgmii_tx_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "AD_Clk" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "clk_50M" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "HCLK_out" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "eth_mdio" W17;
IO_PORT "eth_mdio" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "eth_mdc" AA18;
IO_PORT "eth_mdc" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "eth_rst_n" V22;
IO_PORT "eth_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA1_Clk" E13;
IO_PORT "DA1_Clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA0_Clk" A14;
IO_PORT "DA0_Clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA1_Data[7]" C13;
IO_PORT "DA1_Data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA1_Data[6]" B13;
IO_PORT "DA1_Data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA1_Data[5]" D14;
IO_PORT "DA1_Data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA1_Data[4]" D15;
IO_PORT "DA1_Data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA1_Data[3]" C14;
IO_PORT "DA1_Data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA1_Data[2]" C15;
IO_PORT "DA1_Data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA1_Data[1]" B15;
IO_PORT "DA1_Data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA1_Data[0]" B16;
IO_PORT "DA1_Data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA0_Data[7]" A13;
IO_PORT "DA0_Data[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA0_Data[6]" A16;
IO_PORT "DA0_Data[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA0_Data[5]" A15;
IO_PORT "DA0_Data[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA0_Data[4]" A19;
IO_PORT "DA0_Data[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA0_Data[3]" A18;
IO_PORT "DA0_Data[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA0_Data[2]" F14;
IO_PORT "DA0_Data[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA0_Data[1]" F13;
IO_PORT "DA0_Data[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DA0_Data[0]" E14;
IO_PORT "DA0_Data[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "AD1_CLK" F20;
IO_PORT "AD1_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "AD0_CLK" F16;
IO_PORT "AD0_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[7]" M21;
IO_PORT "led[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[6]" H22;
IO_PORT "led[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[5]" J22;
IO_PORT "led[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[4]" K22;
IO_PORT "led[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[3]" K21;
IO_PORT "led[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[2]" L21;
IO_PORT "led[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[1]" N22;
IO_PORT "led[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[0]" M22;
IO_PORT "led[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "LCD_RSTn" N14;
IO_PORT "LCD_RSTn" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_RDn" P16;
IO_PORT "LCD_RDn" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_WRn" R17;
IO_PORT "LCD_WRn" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_RS" N15;
IO_PORT "LCD_RS" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_CSn" L6;
IO_PORT "LCD_CSn" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i2c_sda" M16;
IO_PORT "i2c_sda" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_fd[7]" G15;
IO_PORT "usb_fd[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_fd[6]" K14;
IO_PORT "usb_fd[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_fd[5]" G16;
IO_PORT "usb_fd[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_fd[4]" G13;
IO_PORT "usb_fd[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_fd[3]" J20;
IO_PORT "usb_fd[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_fd[2]" G20;
IO_PORT "usb_fd[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_fd[1]" G17;
IO_PORT "usb_fd[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "usb_fd[0]" G18;
IO_PORT "usb_fd[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[15]" AB21;
IO_PORT "LCD_DATA[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[14]" AB22;
IO_PORT "LCD_DATA[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[13]" Y19;
IO_PORT "LCD_DATA[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[12]" V19;
IO_PORT "LCD_DATA[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[11]" AB20;
IO_PORT "LCD_DATA[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[10]" U17;
IO_PORT "LCD_DATA[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[9]" U18;
IO_PORT "LCD_DATA[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[8]" P14;
IO_PORT "LCD_DATA[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[7]" R14;
IO_PORT "LCD_DATA[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[6]" R18;
IO_PORT "LCD_DATA[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[5]" T18;
IO_PORT "LCD_DATA[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[4]" N17;
IO_PORT "LCD_DATA[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[3]" P17;
IO_PORT "LCD_DATA[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[2]" P15;
IO_PORT "LCD_DATA[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[1]" R16;
IO_PORT "LCD_DATA[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LCD_DATA[0]" N13;
IO_PORT "LCD_DATA[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "spi_miso" P6;
IO_PORT "spi_miso" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "can_rx" L18;
IO_PORT "can_rx" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "fpga_uart_rx" J21;
IO_PORT "fpga_uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "usb_flagc" J17;
IO_PORT "usb_flagc" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "usb_flagb" H18;
IO_PORT "usb_flagb" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "usb_ifclk" L19;
IO_PORT "usb_ifclk" PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rxdv" AB18;
IO_PORT "rgmii_rxdv" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[3]" R19;
IO_PORT "rgmii_rxd[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[2]" P19;
IO_PORT "rgmii_rxd[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[1]" V18;
IO_PORT "rgmii_rxd[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rxd[0]" V17;
IO_PORT "rgmii_rxd[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "rgmii_rx_clk_i" W19;
IO_PORT "rgmii_rx_clk_i" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD1[7]" F19;
IO_PORT "AD1[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD1[6]" E18;
IO_PORT "AD1[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD1[5]" F18;
IO_PORT "AD1[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD1[4]" D19;
IO_PORT "AD1[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD1[3]" E19;
IO_PORT "AD1[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD1[2]" C20;
IO_PORT "AD1[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD1[1]" D20;
IO_PORT "AD1[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD1[0]" E17;
IO_PORT "AD1[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD0[7]" C18;
IO_PORT "AD0[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD0[6]" C19;
IO_PORT "AD0[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD0[5]" B17;
IO_PORT "AD0[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD0[4]" B18;
IO_PORT "AD0[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD0[3]" E16;
IO_PORT "AD0[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD0[2]" D16;
IO_PORT "AD0[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD0[1]" D17;
IO_PORT "AD0[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "AD0[0]" C17;
IO_PORT "AD0[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "digital_signal_in" H20;
IO_PORT "digital_signal_in" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "key_in" F15;
IO_PORT "key_in" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
